@font-face {
	font-family: 'files-icons';
	src: asset-url('foundation_theme/files-icons/files-icons.eot?-ll6kch', font);
	src: asset-url('foundation_theme/files-icons/files-icons.eot?#iefix-ll6kch', font) format('embedded-opentype'),
		 asset-url('foundation_theme/files-icons/files-icons.woff?-ll6kch', font) format('woff'),
		 asset-url('foundation_theme/files-icons/files-icons.ttf?-ll6kch', font) format('truetype'),
		 asset-url('foundation_theme/files-icons/files-icons.svg?-ll6kch#files-icons', font) format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="file-icon"], [class*=" file-icon"] {
	font-family: 'files-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.file-icon-image:before {
	content: "\e600";
}
.file-icon-default:before {
	content: "\e601";
}
.file-icon-pdf:before {
	content: "\e602";
}
.file-icon-word:before {
	content: "\e603";
}
.file-icon-excel:before {
	content: "\e604";
}
.file-icon-zip:before {
	content: "\e605";
}
.file-icon-powerpoint:before {
	content: "\e606";
}
.file-icon-link:before {
  content: "\e607";
}
