input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input.file_selector,
input, select,
textarea {
  background-color: white;
  border: 1px solid #cccccc;
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875rem;
  // margin:0 0 20px 10px;
  @include border-radius(3px);
  box-shadow: none;
  background-color: white;
  &:focus {
    background: #FFF;
    border-color: $primary-color;
    @include box-shadow(none);
    outline: none;
  }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    transition: none;
    &:focus {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }
}
span.add_attachment {
  font-size: 80%;
  line-height: 18px;
  float: left;
  input.file_selector {
    width: 300px !important;
    margin-right: 10px;
    float: left;
  }
}

// a img {
//   display: none;
// }

textarea {
  // margin: 0 0 20px 10px !important;
}

select:hover {
  background-color: transparent;
  border-color: $primary-color;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 6px 0 0 0 !important;
  width: 30px !important;
}

label.inline {
  width: 101px !important;
  text-align: left;
  padding-top: 0;
  margin: 0;
  input[type="checkbox"],
  input[type="radio"] {
    float: left;
  }
}

#available_columns, #selected_columns {
  height: 180px;
  background: none;
}

.toggle-multiselect {
  display: none;
}

em.info {
  margin-bottom: 15px;
  padding-left: 10px;
}

.tabular.settings {
  p {
    margin-bottom: 15px;
  }
  input, textarea, select {
    width: 60%;
  }

}

input#time_entry_comments {
  width: 95%;
}

.controller-workflows.action-edit {
  label {
    float: left;
    select.expandable {
      width: 140px;

    }
  }
}

.tab-content, #project_trackers {
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 0;
  }
}

// ***** table gantt ****

.task.label {
  background: transparent;
  color: black;
  padding: 0 0 0 5px;

}

.project.task_todo {
  border: 0px solid #fff;
  height: 1px;
  margin-top: 5px;
  background: black;
}

#gantt_area {
  .tooltip {
    display: inherit;
    position: relative;
    left: 0;
    max-width: 100%;
    color: black;
    background: transparent;
    border: 0px solid transparent;
    span {
      @include border-radius(3px);
      border: 1px solid $primary-color !important;
    }
  }
}