#aside{
  height: 100%;
  background: $first-grey;
  padding-top: $topbar-height;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#aside ul li {
  position: relative;
}

ul.sidebar-menu {
  margin-left: 0;
  li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    a {
      color:#FFF;
      text-decoration:none;
      display:block;
      padding:18px 0 18px 25px;
      font-size:12px;
      outline:none;
    }
  }
}

ul.sidebar-menu li a:hover,ul.sidebar-menu li a.selected {
  color: $secondary-color;
  display:block;
  background: $secondary-grey;
}