<!DOCTYPE html>
<html>
<head>
  <title>FoundationTheme</title>
  <%= stylesheet_link_tag    "foundation_theme/application", media: "all" %>
  <%= javascript_include_tag "foundation_theme/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
